@use 'variables' as *;
@use 'mixins' as *;

$generic-container-padding: 10px;
$generic-item-margin: 40px;

.genericContainer {
  box-sizing: content-box;
  margin: 0 auto;
}

/*
  It is assumed this container will be used directly inside
  a genericContainer
*/
.genericItemContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.genericItemContainer > * {
  margin-right: $generic-item-margin;
  margin-bottom: $generic-item-margin;
}

@include setUpContainerSizes(
  'genericContainer',
  'genericItemContainer',
  $generic-container-padding,
  $generic-item-margin,
  $items-per-row,
  $breakpoints
);
