/*
  Add colors as variables here like this:

  $color-name: #000000;

  Please refrain from adding code that generates CSS.
*/

// PRIMARY
$primary-color-10: #FFF2F6;
$primary-color-20: #FCC7DA;
$primary-color-30: #FA9EBE;
$primary-color-40: #F5558D;
$primary-color-50: #EE1A64;
$primary-color-60: #E80051;
$primary-color-70: #DF004E;
$primary-color-80: #D2004A;
$primary-color-90: #C30044;
$primary-color-100: #B3003E;

// SECONDARY
$secondary-color-10: #FFF9DE;
$secondary-color-20: #FFF5BB;
$secondary-color-30: #FFF098;
$secondary-color-40: #FFE455;
$secondary-color-50: #FFD81D;
$secondary-color-60: #F5CB00;
$secondary-color-70: #E9C100;
$secondary-color-80: #D9B400;
$secondary-color-90: #C6A500;
$secondary-color-100: #B39500;

// TEXT
$text-neutral-10: #FFFFFF;
$text-neutral-20: #C2C2CC;
$text-neutral-30: #8A8AA8;
$text-neutral-40: #414158;
$text-neutral-50: #1D1616;

// BACKGROUND
$surface-light-10: #FFFFFF;
$surface-light-20: #FAFCFD;
$surface-light-30: #F5F7FA;
$surface-light-40: #EAEFF4;
$surface-light-50: #DCE1E5;

$surface-dark-10: #CCCCCC;
$surface-dark-20: #999999;
$surface-dark-30: #7F7F7F;
$surface-dark-40: #4C4C4C;
$surface-dark-50: #191919;

// ACCENTS
$accent-success-10: #EAF4DD;
$accent-success-20: #C6DFA1;
$accent-success-30: #7EAC39;
$accent-success-40: #5D7F2A;
$accent-success-50: #435C1F;

$accent-info-10: #CFE8FE;
$accent-info-20: #6FB0FC;
$accent-info-30: #1169F7;
$accent-info-40: #083CB1;
$accent-info-50: #031D76;

$accent-warning-10: #FFF2CC;
$accent-warning-20: #FFDC73;
$accent-warning-30: #FFBF00;
$accent-warning-40: #E5B217;
$accent-warning-50: #99770F;

$accent-danger-10: #FEEBD4;
$accent-danger-20: #FBB37F;
$accent-danger-30: #F4642C;
$accent-danger-40: #AF2C16;
$accent-danger-50: #750908;
