/*
  Add colors as variables here like this:

  $color-name: #000000;

  Please refrain from adding code that generates CSS.
*/

// PRIMARY
$primary-color-10: #fff2f6;
$primary-color-20: #fcc7da;
$primary-color-30: #fa9ebe;
$primary-color-40: #f5558d;
$primary-color-50: #ee1a64;
$primary-color-60: #e80051;
$primary-color-70: #df004e;
$primary-color-80: #d2004a;
$primary-color-90: #c30044;
$primary-color-100: #b3003e;

// SECONDARY
$secondary-color-10: #fff9de;
$secondary-color-20: #fff5bb;
$secondary-color-30: #fff098;
$secondary-color-40: #ffe455;
$secondary-color-50: #ffd81d;
$secondary-color-60: #f5cb00;
$secondary-color-70: #e9c100;
$secondary-color-80: #d9b400;
$secondary-color-90: #c6a500;
$secondary-color-100: #b39500;

// TEXT
$text-neutral-10: #fff;
$text-neutral-20: #c2c2cc;
$text-neutral-30: #8a8aa8;
$text-neutral-40: #414158;
$text-neutral-50: #1d1616;

// BACKGROUND
$surface-light-10: #fff;
$surface-light-20: #fafcfd;
$surface-light-30: #f5f7fa;
$surface-light-40: #eaeff4;
$surface-light-50: #dce1e5;
$surface-dark-10: #ccc;
$surface-dark-20: #999;
$surface-dark-30: #7f7f7f;
$surface-dark-40: #4c4c4c;
$surface-dark-50: #191919;

// ACCENTS
$accent-success-10: #eaf4dd;
$accent-success-20: #c6dfa1;
$accent-success-30: #7eac39;
$accent-success-40: #5d7f2a;
$accent-success-50: #435c1f;
$accent-info-10: #cfe8fe;
$accent-info-20: #6fb0fc;
$accent-info-30: #1169f7;
$accent-info-40: #083cb1;
$accent-info-50: #031d76;
$accent-warning-10: #fff2cc;
$accent-warning-20: #ffdc73;
$accent-warning-30: #ffbf00;
$accent-warning-40: #e5b217;
$accent-warning-50: #99770f;
$accent-danger-10: #feebd4;
$accent-danger-20: #fbb37f;
$accent-danger-30: #f4642c;
$accent-danger-40: #af2c16;
$accent-danger-50: #750908;
