.gridDesktopContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 32px;
  margin: 64px;
}

.gridTabletContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 24px;
  margin: 24px;
}

.gridMobileContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 16px;
}
