@use 'sass:list';
@use '../../assets/stylesheets/text-styles.scss';
@import '../../assets/stylesheets/colors';

$input-colors: (
  default: ($text-neutral-20),
  error: ($accent-danger-30),
  success: ($accent-success-30),
);
$helper-colors: (
  default: ($text-neutral-30),
  error: ($accent-danger-30),
  success: ($accent-success-30),
);

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
}

.inputStyle {
  padding: 12px;
  width: 100%;
  border: 1px solid $text-neutral-20;
  border-radius: 10px;
  transition: border, color 0.2s ease-in-out;
  background-color: $surface-light-10;
  color: $text-neutral-30;

  @each $color, $properties in $input-colors {
    &.#{$color} {
      border-color: list.nth($properties, 1);
    }
  }

  &:active {
    outline: 0;
    border: 1px solid $primary-color-50;
    color: $text-neutral-40;
  }

  &:hover {
    border: 1px solid $primary-color-40;
  }

  &:focus {
    outline: 0;
    border: 1px solid $primary-color-50;
    color: $text-neutral-40;
  }

  &:disabled {
    border: 1px solid $text-neutral-20;
    color: $text-neutral-30;
    background-color: $surface-light-50;
  }
}

.label {
  @extend .text-medium-bold;

  margin-bottom: 4px;
  color: $text-neutral-40;
}

.bottomMessage {
  display: flex;
  align-items: center;
}

.helperText {
  display: flex;
  align-items: center;
  margin-right: 16px;

  @each $color, $properties in $helper-colors {
    &.#{$color} {
      color: list.nth($properties, 1);
    }
  }
}

.helperIcon {
  display: flex;
  width: 16px;
  margin-right: 4px;

  @each $color, $properties in $helper-colors {
    &.#{$color} {
      color: list.nth($properties, 1);
    }
  }
}

.countText {
  display: flex;
  margin-left: auto;

  @each $color, $properties in $helper-colors {
    &.#{$color} {
      color: list.nth($properties, 1);
    }
  }
}
