@use '../colors' as *;

$font-weights: (
  regular: 400,
  semibold: 500,
  bold: 700
);

// Headings
// h1 (56px, 64px)
// ^    ^    ^
// |    |    |
// |    |    Line height
// |    Font size
// Class name
// ------------------------------
$headings: (
  h1: (
    web: (56px, 64px),
    mobile: (24px, 32px),
  ),
  h2: (
    web: (48px, 56px),
    mobile: (20px, 28px),
  ),
  h3: (
    web: (40px, 40px),
    mobile: (16px, 24px),
  ),
  h4: (
    web: (32px, 40px),
    mobile: (12px, 20px),
  ),
  h5: (
    web: (24px, 32px),
    mobile: (12px, 20px),
  ),
  h6: (
    web: (16px, 24px),
    mobile: (12px, 20px),
  )
);

// Text
// large (24px, 32px, $text-neutral-40, none)
// ^      ^      ^      ^                ^
// |      |      |      |                |
// |      |      |      |                Text transform
// |      |      |      Color
// |      |      Line height
// |      Font size
// Class name
// ------------------------------------------
$text: (
  large: (
    web: (20px, 28px, $text-neutral-40, none),
    mobile: (16px, 24px, $text-neutral-40, none),
  ),
  medium: (
    web: (16px, 24px, $text-neutral-40, none),
    mobile: (14px, 20px, $text-neutral-40, none),
  ),
  small: (
    web: (14px, 20px, $text-neutral-30, none),
    mobile: (12px, 18px, $text-neutral-30, none),
  ),
  tiny: (
    web: (12px, 16px, $text-neutral-30, none),
    mobile: (10px, 14px, $text-neutral-30, none),
  ),
  overline: (
    web: (12px, 16px, $text-neutral-40, uppercase),
    mobile: (10px, 14px, $text-neutral-40, uppercase),
  ),
);
