.container {
  background-color: #fafafa;
}

.title {
  font-weight: bold;
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 0;
}

.modalFooter {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.formContainer {
  padding: 20px;
}

.form {
  margin: 0 auto;
  max-width: 400px;
  background: transparent;
  padding: 30px;
  border-radius: 0;
}
