@use '../../assets/stylesheets/text-styles.scss' as *;

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @extend .h1;

  margin: 0;
  text-align: center;
}

.subheader {
  @extend .text-large-regular;

  margin-top: 20px;
  text-align: center;
}
