@use '../../assets/stylesheets/colors' as *;
@use '../../assets/stylesheets/shadows';

.container {
  @extend .shadow-light-surface-40;

  padding: 20px 0;
  border-bottom: 1px solid $surface-dark-10;
}

.internalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
