.container {
  background-color: #fafafa;
}

.title {
  font-weight: bold;
}

.modalTitle{
  margin-top: 0;
  margin-bottom: 0;
}

.modalPosition {
  position: absolute;
  transform: translate(0%, 0%);
  top: 20px;
  left: 20px;
}
  
.modalFooter {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
