@use "sass:list";
@import "../../assets/stylesheets/colors";

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

$modal-sizes: (
  small: (400px),
  medium: (600px),
  big: (968px),
);

.modal {
  /* Auto layout */
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;

  background-color: $surface-light-10;
  border-radius: 8px;
  border: solid black 1px;
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);

  // Sizes
  @each $size, $properties in $modal-sizes {
    &-#{$size} {
      max-width: list.nth($properties, 1)
    }
  }

  .closeButton {
    position: absolute;
    display: flex;
    margin: 12px;
    top: 0;
    right: 0;
    color: $text-neutral-30;
  }

}
