@use '../colors' as *;

// Shadows
// 10: (0px 6px 8px -6px, 0.24),
// ^     ^                 ^
// |     |                 |
// |     |               Opacity
// |     Shadow Measurements
// Shadow Name
// ------------------------------------
$shadows: (
  10: (0 6px 8px -6px, 0.24),
  20: (0 10px 18px -10px, 0.3),
  30: (0 10px 25px -6px, 0.24),
  40: (0 10px 25px -6px, 0.4),
);
$shadow-colors: (
  primary: $primary-color-50,
  secondary: $secondary-color-50,
  light-surface: $surface-light-50,
  dark-surface: $surface-dark-50,
  accent-info: $accent-info-20,
  accent-danger: $accent-danger-20,
  accent-success: $accent-success-20,
  accent-warning: $accent-warning-20,
);
