@use 'sass:list';
@use 'sass:map';
@use 'colors' as *;
@use 'mixins' as *;
@use 'variables' as *;

/*
  When using design systems it is a good practice to match
  the text styles of it on the project. Add all text styles here
  as classes. Design systems sometimes vary on implementation, so
  implement the text styles as you see fit.

  For instance, this could be an example of a text style class:

  .headerActive {
    font-family: ...
    font-style: ...
    color: ...
  }

  Use mixins if you want to add color to all text to avoid repetition.
*/

// Headings
@each $heading, $properties in $headings {
  .#{$heading} {
    color: $text-neutral-50;
    font-weight: bold;
    font-size: list.nth(map.get($properties, 'mobile'), 1);
    line-height: list.nth(map.get($properties, 'mobile'), 2);
  }

  @include minWidth('md') {
    .#{$heading} {
      font-size: list.nth(map.get($properties, 'web'), 1);
      line-height: list.nth(map.get($properties, 'web'), 2);
    }
  }
}

// Text
@each $text, $properties in $text {
  @each $weight-name, $font-weight in $font-weights {
    .text-#{$text}-#{$weight-name} {
      font-size: list.nth(map.get($properties, 'mobile'), 1);
      line-height: list.nth(map.get($properties, 'mobile'), 2);
      color: list.nth(map.get($properties, 'mobile'), 3);
      text-transform: list.nth(map.get($properties, 'mobile'), 4);
      font-weight: $font-weight;
    }

    @include minWidth('md') {
      .text-#{$text}-#{$weight-name} {
        font-size: list.nth(map.get($properties, 'web'), 1);
        line-height: list.nth(map.get($properties, 'web'), 2);
        text-transform: list.nth(map.get($properties, 'web'), 4);
      }
    }
  }
}

// Link
.link {
  color: $primary-color-90;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $primary-color-60;
    text-decoration: none;
  }
}
