name: "Frontend Tests"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

env:
  CI: true
  VITE_API_BASE_URL: http://localhost

jobs:
  lint_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 24.5.0
          cache: npm

      - name: Update NPM
        run: npm i -g npm@11.5.1

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier
        run: npm run prettier:check

      - name: Run Linter
        run: npm run lint

      - name: Run tests
        run: npm test
